  body {
    font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
    /*background: #2C3E50;*/
    background: #F0F3F4;
  }
  .jumbotron {
    /*background: #532F8C;*/
    /*background: #212F3D;*/
    text-align: left;
    color: #27AE60;
    padding-bottom: 80px; }
  .intro { height: 100%; width: 100%; position: fixed; }
  .btn-primary {
    background: #27AE60;
    border-color: #229954; }
  .btn-primary:hover {
    background: #1E8449; }
  .jumbotron mark {
    padding: 0;
    background: #A9DFBF;
  }
  .jumbotron p {
    /*color: #d9ccee;*/
    /*max-width: 75%;*/
    margin: 1em auto 2em; }
  #introHeading {
    margin-top: 40px;
    /*margin-bottom: 60px;*/
    /*font-size: 48px;*/
    font-size: 40px;
    font-weight: bold; }
  #buttonExplanation {
    margin-bottom: 20px;
    font-size: 16px;
  }
  #buttonExplanation p {
    font-size: 16px;
  }
  #muchExpectedFeatureList{
    font-size: 14px;
  }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

    .CodeMirror { border: 1px solid #ddd; font-size: 12px; min-height: 600px; }
    .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
    .CodeMirror-gutters { border-right: none; }
    .banner { background: #ffc; padding: 6px; border-bottom: 2px solid silver;  }
    .banner div { margin: 0 auto; max-width: 700px; text-align: center; }
    #beamDocTitle { display: block; margin-bottom: 20px; }
    .styled-background { background: #ff7; }
    .peer-cursor {
      border-left: 2px solid;
      padding: 0;
      z-index: 0;
      position: absolute;
      padding-right: 4px;
      border-bottom: 4px solid;
    }
    .peer-cursor-intro {
      border-left: 2px solid;
      padding: 0;
      z-index: 0;
      position: absolute;
    }
  .blinking-cursor {
    font-weight: 100;
    color: #2E3D48;
    color: #ccc;
  }
  .CodeMirror {
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    border: 1px solid #eeeeee;
  }
  .action-buttons {
    margin: 20px 0;
    text-align: left;
  }
  .editor-header {
    margin: 10px 0;
  }
  .editor-header a, .editor-header b, .editor-header select {
    padding: 5px 0;
  }
  .editor-header select, .editor-header select:focus, .editor-header select:hover {
    border: none;
    outline-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .align-right {
    text-align: right;
  }
  /*.peer-avatar {*/
  /*  display: inline-block;*/
  /*  border-radius: 1em;*/
  /*  margin-right: 5px;*/
  /*  width: 1em;*/
  /*  height: 1em;*/
  /*}*/
  .right-section {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 35px;
  }
  .right-section .ui-text {
    color: #999;
    font-size: 12px;
  }
  .section-heading {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    margin-left: 10px;
  }
  #peer-list {
    /*border-bottom: 1px solid #ddd;*/
    /*padding: 15px 0;*/
    /*margin-bottom: 15px;*/
    padding-left: 10px;
  }
  .peer-label {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
  }
  #collab-list {
    /*max-height: 100px;*/
    /*overflow: scroll;*/
  }
  #chat-container {
    max-height: 400px;
    overflow: scroll;
  }
  .chat-message-wrapper .ui-text {
    /*margin: 10px -10px;*/
    margin: 15px 10px;
    margin-top: 0;
    display: block;
  }
  .chat-message {
    margin-bottom: 10px;
    padding: 15px 10px;
    font-size: 12px;
    background: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    display: block;
  }
  #chat-message-input {
    margin: 20px 0;
  }
  #chat-message-input input {
    padding: 10px;
    display: block;
    width: 100%;
  }
  #link-copy {
    cursor: pointer;
  }
  #loader-wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #F0F3F4;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 80px;
    height: 80px;
    margin: 0;
    margin-top: -40px;
    margin-left: -40px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


