.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

    .CodeMirror { height: auto; border: 1px solid #ddd; font-size: 12px; min-height: 500px; }
    .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
    .banner { background: #ffc; padding: 6px; border-bottom: 2px solid silver;  }
    .banner div { margin: 0 auto; max-width: 700px; text-align: center; }
    #beamDocTitle { display: block; margin-bottom: 20px; }
    .styled-background { background: #ff7; }
    .peer-cursor {
      border-left: 2px solid;
      padding: 0;
      z-index: 0;
      position: absolute;
    }

