<!DOCTYPE html>
<html>
<head>
    <title>DocBeam | Another cool collaborative text editor</title>
    <% include ../partials/editorHeader.ejs %>
    <% include ../partials/header.ejs %>
</head>

<body class="container" style="padding: 20px;">

<div id="loader-wrapper">
    <div class="loader"></div>
</div>

<div class="row">

    <div class="col-md-9 editor-header">

        <div class="row toolbar">

            <div id="alert-section" class="col-md-12"></div>

            <div class="col-md-6">
                <button class="btn btn-default" data-toggle="tooltip" title="Copy link" data-placement="right" id="link-copy" onclick="copyLink()">
                </button>
            </div>
            <div class="col-md-6 align-right">
<!--                <b>Language: </b>-->
                <i class="fa fa-code"></i>
                <select name="" id="languageSelect">
                    <option value="text">Plain Text</option>
                    <option value="text/html">HTML</option>
                    <option value="text/css">CSS</option>
                    <option value="text/javascript">Javascript</option>
                    <option value="application/json">JSON</option>
                </select>
                <i class="fa fa-text-height"></i>
                <select name="" id="fontSizeSelect" class="selectpicker">
                    <option value="12px" selected>12 px</option>
                    <option value="14px">14 px</option>
                    <option value="16px">16 px</option>
                    <option value="18px">18 px</option>
                    <option value="20px">20 px</option>
                </select>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-9" id="editorContainer">
        <textarea id="beamDocEditor"></textarea>
    </div>

    <div class="col-md-3 right-col">
        <div class="right-section" id="collab-list">
            <span class="section-heading">Collaborators</span>
            <div id="peer-list">
            </div>
        </div>
        <div class="right-section">
            <span class="section-heading">Chat</span>
            <div id="chat-container">
            </div>
            <div id="chat-message-input">
                <input id="chat-message" type="text" placeholder="Type and hit enter">
            </div>
        </div>
    </div>

</div>

<!--<div class="row">-->
<!--    <div class="col-md-9 action-buttons">-->
<!--        <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Create a new document</a>-->
<!--        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Join a document</a>-->
<!--        <input type="text" id="beamDocTitle" class="" placeholder="Document Title" style="display: none;">-->
<!--    </div>-->
<!--</div>-->

<script src="/scripts/script.js"></script>
</body>
</html>