<!DOCTYPE html>
<html>
<head>
    <title>DocBeam | Another cool collaborative text editor</title>
    <% include ../partials/editorHeader.ejs %>
    <% include ../partials/header.ejs %>
</head>

<body class="container" style="padding: 20px;">

<div class="row">

    <div class="col-md-9 editor-header">

        <div class="row">
            <div class="col-md-6">
                <b>Document link: </b>
                <a type="button" href="https://github.com/heroku/node-js-getting-started">http://docbeam.io/kRjui6Pq&nbsp;<span class="glyphicon glyphicon-duplicate"></span></a>
            </div>
            <div class="col-md-6 align-right">
                <b>Language: </b>
                <select name="" id="languageSelect">
                    <option value="" selected>Plain Text</option>
                    <option value="text/html">HTML</option>
                    <option value="text/css">CSS</option>
                    <option value="text/javascript">Javascript</option>
                    <option value="application/json">JSON</option>
                </select>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-9">
        <textarea id="beamDocEditor"></textarea>
    </div>

    <div class="col-md-3 right-col">
        <div class="right-section" id="collab-list">
            <span class="section-heading">Collaborators</span>
            <div id="peer-list">
                <span class="label peer-label" style="background: #B01302;">Vikram Singh</span>
                <span class="label peer-label" style="background: #27AE60;">Xerxes</span>
                <span class="label peer-label" style="background: #1C2833;">Adrian</span>
            </div>
        </div>
        <div class="right-section">
            <span class="section-heading">Chat</span>
            <div id="chat-container">

                <div class="chat-message-wrapper">
                    <span class="ui-text">
                        <b style="color: #27AE60;">Xerxes</b> created the document
                    </span>
                </div>

                <div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #B01302; margin-right: 0">Vikram Singh: </b> Let's create the module for sorting docs
                    </div>
                </div>

                <div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #27AE60; margin-right: 0">Xerxes: </b> No, wait
                    </div>
                </div><div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #B01302; margin-right: 0">Vikram Singh: </b> Let's create the module for sorting docs
                    </div>
                </div>

                <div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #27AE60; margin-right: 0">Xerxes: </b> No, wait
                    </div>
                </div><div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #B01302; margin-right: 0">Vikram Singh: </b> Let's create the module for sorting docs
                    </div>
                </div>

                <div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #27AE60; margin-right: 0">Xerxes: </b> No, wait
                    </div>
                </div><div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #B01302; margin-right: 0">Vikram Singh: </b> Let's create the module for sorting docs
                    </div>
                </div>

                <div class="chat-message-wrapper">
                    <div class="chat-message">
                        <b style="color: #27AE60; margin-right: 0">Xerxes: </b> No, wait
                    </div>
                </div>
            </div>
            <div id="chat-message-input">
                <input type="text" placeholder="Type and hit enter">
            </div>
        </div>
    </div>

</div>

<!--<div class="row">-->
<!--    <div class="col-md-9 action-buttons">-->
<!--        <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Create a new document</a>-->
<!--        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Join a document</a>-->
<!--        <input type="text" id="beamDocTitle" class="" placeholder="Document Title" style="display: none;">-->
<!--    </div>-->
<!--</div>-->

<script src="/scripts/script.js"></script>
</body>
</html>