<!DOCTYPE html>
<html>
<head>
    <title>DocBeam | Another cool collaborative text editor</title>
    <% include ../partials/editorHeader.ejs %>
    <% include ../partials/header.ejs %>
</head>

<body class="container" style="padding: 20px;">

<div id="loader-wrapper">
    <div class="loader"></div>
</div>

<div class="row">

    <div class="col-md-9 editor-header">

        <div class="row toolbar">

            <div id="alert-section" class="col-md-12"></div>

            <div class="col-md-12">
                <span class="editorOptionsWrapper" data-toggle="tooltip" title="Language" data-placement="top">
                    <i class="fa fa-code"></i>
                    <select name="" id="languageSelect">
                        <option value="text">Plain Text</option>
                        <option value="text/x-csrc">C</option>
                        <option value="text/x-c++src">C++</option>
                        <option value="text/x-java">Java</option>
                        <option value="text/x-go">Go</option>
                        <option value="text/x-python">Python</option>
                        <option value="text/javascript">Javascript</option>
                        <option value="text/x-scala">Scala</option>
                        <option value="text/x-csharp">C#</option>
                        <option value="text/x-objectivec">Objective-C</option>
                        <option value="text/x-rsrc">R</option>
                        <option value="text/html">HTML</option>
                        <option value="text/css">CSS</option>
                        <option value="application/json">JSON</option>
                    </select>
                </span>

                <span class="editorOptionsWrapper" data-toggle="tooltip" title="Theme" data-placement="top">
                    <i class="fa fa-palette"></i>
                    <select name="" id="themeSelect" class="selectpicker">
                        <optgroup label="Light">
                            <option value="default" selected>Default</option>
                            <option value="idea">Idea</option>
                            <option value="eclipse">Eclipse</option>
                            <option value="neo">Neo</option>
                            <option value="yeti">Yeti</option>
                            <option value="elegant">Elegant</option>
                            <option value="3024-day">3024-day</option>
                        </optgroup>
                        <optgroup label="Dark">
                            <option value="darcula">Darcula</option>
                            <option value="monokai">Monokai</option>
                            <option value="nord">Nord</option>
                            <option value="cobalt">Cobalt</option>
                            <option value="yonce">Yonce</option>
                            <option value="3024-night">3024-night</option>
                        </optgroup>
                    </select>
                </span>

                <span class="editorOptionsWrapper" id="fontSizeSelectWrapper" data-toggle="tooltip" title="Font Size" data-placement="top">
                    <i class="fa fa-text-height"></i>
                    <select name="" id="fontSizeSelect" class="selectpicker">
                        <option value="12px" selected>12 px</option>
                        <option value="14px">14 px</option>
                        <option value="16px">16 px</option>
                        <option value="18px">18 px</option>
                        <option value="20px">20 px</option>
                    </select>
                </span>

                <span class="editorOptionsWrapper right-float" style="margin-right: 0;">
                    <button type="button" class="btn btn-default toolbar-button" id="full-screen-button">
                        <i class="fa fa-expand-arrows-alt"></i> Full-screen
                    </button>
                </span>
                <span class="editorOptionsWrapper right-float">
                    <button class="btn btn-default toolbar-button" onclick="copyLink()" id="link-copy">
                    </button>
                </span>

            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-9" id="editorContainer">
        <textarea id="beamDocEditor"></textarea>
    </div>

    <div class="col-md-3 right-col">
        <div class="right-section" id="collab-list">
            <span class="section-heading">Collaborators</span>
            <div id="peer-list">
            </div>
        </div>
        <div class="right-section">
            <span class="section-heading">Chat</span>
            <div id="chat-container">
            </div>
            <div id="chat-message-input">
                <input id="chat-message" type="text" placeholder="Type and hit enter">
            </div>
        </div>
    </div>

</div>

<div id="snackbar"></div>
<script src="/scripts/script.js"></script>
</body>
</html>