<!DOCTYPE html>
<html>
<head>
  <title>DocBeam | Another cool collaborative text editor</title>
  <% include ../partials/header.ejs %>
</head>

<body>

<!--  <% include ../partials/nav.ejs %>-->

<div class="jumbotron intro text-center">
  <div class="container">
    <p id="buttonExplanation"></p>

    <h1 id="introHeading"></h1>
    <p id="muchExpectedFeatureList">(Paste description here)</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Create a new document</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Join a document</a>
  </div>
</div>

</body>
<script src="/scripts/intro.js"></script>
</html>
